@model BusinessRef.Model.EmployeeTravel.TravelRequestIndividualRecordReturnDataModel

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Travel Order</title>
    <link href="~/Content/layout.css" rel="stylesheet"/>
    <link href="~/Content/travel.css" rel="stylesheet"/>
    <link href="~/Content/common.css" rel="stylesheet"/>
    <link href="~/Content/travel_print.css" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="TO-print">
                <button id="printBtn" onclick="window.print()">Print</button>
                <div class="logo-header">
                    <div class="logo-left">
                        <img src="~/Images/Logo/mcbi-logo.png" />
                    </div>
                    <div class="logo-right">
                        <img src="~/Images/Logo/nqa.jpg" />
                    </div>
                </div>
                <h5 class="header-h3">@DateTime.Now.ToString("MMMM dd, yyyy")</h5>
                <h5 class="header-h3">TRAVEL ORDER</h5>
                <h5 class="text-underline header-h3">No. @Model.HeaderList.ReferenceNo</h5>
                <h5 class="header-h3">SUBJECT: <span class="text-underline subject-h3-span">AUTHORITY TO TRAVEL</span></h5>

                <div class="TO-print-body">
                    <p>Below mentioned personnel from Mariñas & Co. Builders Inc. were hereby authorized to travel.</p>
                    @{ 
                        var totalAmount = 0f;
                    }
                    <div class="travel-request-container">
                        <div class="travel-request-header">
                            <div class="travel-request-content">
                                <label>Travel Date:</label>
                                <span>@Model.HeaderList.TravelDate.ToString("MMMM dd, yyyy")</span>
                            </div>
                            <div class="travel-request-content">
                                <label>Project Origin:</label>
                                <span>@Model.HeaderList.ProjectNumberOrigin - @Model.HeaderList.ProjectNameOrigin</span>
                            </div>
                            <div class="travel-request-content">
                                <label>Project Destination:</label>
                                <span>@Model.HeaderList.ProjectNumberDestination - @Model.HeaderList.ProjectNameDestination</span>
                            </div>
                            <div class="travel-request-content">
                                <label>Purpose of Travel:</label>
                                <span>@Model.HeaderList.TravelPurpose</span>
                            </div>
                        </div>
                        <div class="travel-request-details">
                            <div class="list-of-traveller">
                                <h4>List of Traveller</h4>
                                <div class="list-table-header">
                                    <h5>No</h5>
                                    <h5>Employee</h5>
                                    <h5>Position</h5>
                                    <h5>Birthdate</h5>
                                    <h5>Baggage Wt</h5>
                                </div>
                                <div class="list-table-body">
                                    @{ var count1 = 1;}
                                    @foreach (var item in Model.EmployeeDetailList)
                                    {
                                        <div class="list-table-bodyItems">
                                            <div>@count1</div>
                                            <div>@item.EmployeeName</div>
                                            <div>@item.Position</div>
                                            <div>@item.BirthDate.ToString("MMMM dd, yyyy")</div>
                                            <div>@item.BaggageWeight</div>
                                        </div>
                                        count1++;
                                    }

                                </div>
                            </div>
                            <div class="itinerary-details">
                                <h4>Itinerary Details</h4>
                                <div class="list-table-header">
                                    <h5>No</h5>
                                    <h5>From</h5>
                                    <h5>To</h5>
                                    <h5>Transport Mode</h5>
                                    <h5>Fare</h5>
                                </div>
                                <div class="list-table-body">
                                    @{ var count2 = 1;}
                                    @foreach (var item in Model.ItineraryDetailList)
                                    {
                                        totalAmount += item.Fare;

                                        <div class="list-table-bodyItems">
                                            <div>@count2</div>
                                            <div>@item.From</div>
                                            <div>@item.To</div>
                                            <div>@item.TransportMode</div>
                                            <div>@item.Fare.ToString("N")</div>
                                        </div>
                                        count2++;
                                    }

                                </div>
                            </div>
                            <div class="accomodation-details">
                                <h4>Accommodation Details</h4>
                                <div class="list-table-header">
                                    <h5>No</h5>
                                    <h5>Accomm. Type</h5>
                                    <h5>No of Days</h5>
                                    <h5>Cost</h5>
                                    <h5>Total</h5>
                                </div>
                                <div class="list-table-body">
                                    @{ var count3 = 1;}

                                    @foreach (var item in Model.AccomodationDetailList)
                                    {
                                        var totalAccomodation = item.Cost * item.NoOfDays;
                                        totalAmount += totalAccomodation;

                                        <div class="list-table-bodyItems">
                                            <div>@count3</div>
                                            <div>@item.AccomodationType</div>
                                            <div>@item.NoOfDays</div>
                                            <div>@item.Cost.ToString("N")</div>
                                            <div>@totalAccomodation.ToString("N")</div>
                                        </div>
                                        count3++;
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-table-bodyItems travel-details-overall-total">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div style="text-align: right">Total >></div>
                        <div>@totalAmount.ToString("N")</div>
                    </div>
                    <div>
                        <p style="text-align:center;">***********************Nothing Follows*********************</p>
                        <p>
                            Travel expenses shall be charged to Mariñas & Co. Builders Inc. subject to its availability
                            and the usual accounting and auditing rules and regulations. Moreover, Certificate of Appearance shall be
                            submitted immediately after the travel to the Accounting Unit.
                        </p>
                    </div>

                </div>

                <div class="TO-footer">
                    <div class="footer-wrap">
                        <label>Prepared By:</label>
                        <span>@Model.HeaderList.PreparedByName</span>
                        <span>@Model.HeaderList.PreparedByPositionName</span>
                    </div>
                    <div class="footer-wrap">
                        <label>Approved By:</label>
                        <span>@Model.HeaderList.ApprovedByName</span>
                        <span>@Model.HeaderList.ApprovedByPositionName</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>